<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.pitest.pitclipse.launch.mutationTest">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Project1/src"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="2"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Project1"/>
    <stringAttribute key="org.pitest.pitclipse.core.test.avoidCallsTo" value="java.util.logging, org.apache.log4j, org.slf4j, org.apache.commons.logging, org.apache.logging.log4j"/>
    <stringAttribute key="org.pitest.pitclipse.core.test.container" value="=Project1/src&lt;"/>
    <stringAttribute key="org.pitest.pitclipse.core.test.excludeClasses" value="*Test"/>
    <stringAttribute key="org.pitest.pitclipse.core.test.excludeMethods" value=""/>
    <booleanAttribute key="org.pitest.pitclipse.core.test.incrementalAnalysis" value="false"/>
    <booleanAttribute key="org.pitest.pitclipse.core.test.parallel" value="true"/>
</launchConfiguration>
